Microstock-Agent.json
{
  "name": "Microstock Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        160
      ],
      "id": "8bc47eef-50ff-46b6-86cc-2cf247ae5683",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "=You are a metadata generation assistant specialized in stock images. \nYour task is to create metadata for both Adobe Stock and Shutterstock based on the image description I provide. \n\nFollow these rules strictly:\n\n1. Return the result in pure JSON format, no explanation text, no markdown formatting.\n2. Generate exactly 45 keywords, each separated by a comma. Do not repeat words.\n3. Generate Titles exactly not than 180 words, Titles must be short, descriptive, and human-readable.\n4. The \"Filename\" should be a clean. Example: \"Grey stallion run in sunset light in clouds of dust.jpg\"\n5. Determine the categories based on best match:\n   - Adobe Stock category must use only the number.\n   - Shutterstock category must use one category name exactly from the allowed list.\n\n6. Follow these category lists:\n   - Adobe Stock Categories Numeric Reference:\n     1 = animals, 2 = building & architecture, 3 = business, 4 = drinks, 5 = the environment, 6 = states of mind, 7 = food, 8 = graphic resources, 9 = hobbies & leisure, 10 = industry, 11 = landscape, 12 = lifestyle, 13 = people, 14 = plants & flowers, 15 = culture & religion, 16 = science, 17 = social issues, 18 = sports, 19 = technology, 20 = transport, 21 = travel\n\n   - Shutterstock Categories Reference:\n     Abstract, Animals/Wildlife, Arts, Backgrounds/Textures, Beauty/Fashion, Buildings/Landmark, Business/Finance, Celebrities, Education, Food and Drink, Healthcare/Medical, Holidays, Industrial, Interiors, Miscellaneous, Nature, Objects, Parks/Outdoor, People, Religion, Science, Signs/Symbols, Sports/Recreation, Technology, Transportation, Vintage\n\n7. Release Rules:\n   - \"Releases\" (Adobe) = Name of the model or owner if needed. If no people, objects, or private property requiring release → write \"No Release Needed\".\n   - Shutterstock Fields:\n     - \"Editorial\" = yes if the image contains recognizable people, logos, brands, events, or news content. Otherwise \"no\".\n     - \"Mature Content\" = yes only if sexual, violent, or graphic. Otherwise \"no\".\n     - \"Illustration\" = yes if digital artwork / illustration, no if photo.\n\nReturn the output in this exact JSON structure:\n\n{\n  \"Adobe Stock\": {\n    \"Filename\": \"\",\n    \"Title\": \"\",\n    \"Keywords\": \"\",\n    \"Category\": \"\",\n    \"Releases\": \"\"\n  },\n  \"Shutterstock\": {\n    \"Filename\": \"\",\n    \"Title\": \"\",\n    \"Keywords\": \"\",\n    \"Categories\": \"\",\n    \"Editorial\": \"\",\n    \"Mature_Content\":\"\",\n    \"Illustration\": \"\"\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2784,
        176
      ],
      "id": "2b48472f-2565-4e21-9563-49128e8b8d4e",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Jalankan sesuai system massage",
        "options": {
          "systemMessage": "=You are a highly intelligent creative assistant proficient in crafting descriptive prompts for generative AI models such as Ideogram, Midjourney, or Stable Diffusion.\n\nYour task is to transform image analysis and text plans into highly detailed, artistic, and commercially viable visual prompts.\n\nWorkflow Procedure:\n1. Source Analysis: Use the data from `{{ $json.content.parts[0].text }}` as the visual foundation.\n2. Plan Integration: Develop the description using specific instructions from `{{ $('Get row(s) in sheet2').item.json.text_plan }}`.\n3. Production: Generate exactly `{{$('slice').first().json.count}}` conceptually unique prompts.\n\nPrompt Design Guidelines:\n* Language: Must be in English.\n* Structure: Use flowing descriptive sentences (prose) rather than a list of keywords.\n* Mandatory Elements: Include details regarding the subject, atmosphere, lighting, mood, artistic style, camera composition, and rendering quality (e.g., photorealistic, 8k, octane render).\n* Commercial Quality: Ensure descriptions lead to results free of visual artifacts, anatomical flaws, or distortions. No text, watermarks, or logos.\n\nDiversification Rules (Commercial Stock Standards):\nEach prompt must feature a significant conceptual difference. It is forbidden to create variations that only involve:\n* Minimal changes in color, filters, or background.\n* Rotations, cropping, or flipping positions.\n* The same subject in nearly identical poses or compositions.\n\nStrict Output Format Rules:\n* The output must be ONLY a JSON array.\n* DO NOT include introductory text, explanations, conclusions, or markdown tags like `json or `.\n* DO NOT use special characters: `( ) [ ] { } * # / \\ < > _ -` within the prompt string.\n* Each object in the array must follow the structure: `{\"prompt\": \"insert prompt here\"}`.\n\nExample Output Structure:\n[\n{\n\"prompt\": \"A cinematic wide shot of a futuristic botanist working in a lush bioluminescent greenhouse filled with exotic glowing flora under a soft indigo twilight lighting\"\n},\n{\n\"prompt\": \"An elegant minimalist architectural photography of a concrete villa interior featuring sharp geometric shadows and warm natural sunlight streaming through floor to ceiling windows\"\n}\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1440,
        160
      ],
      "id": "54eb8df9-ed53-42b6-b947-c9547521af2e",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output;\nconst chunks = raw.split('},');\n\nconst prompts = chunks.map(chunk => {\n  return chunk         \n    .replace(/```/g, '')          \n    .replace(/json/g, '')        \n    .replace(/\\\\nA/g, ' ') \n    .replace(/\"prompt\":\\s*/gi, '') \n    .replace(/\\\\n/g, ' ')         \n    .replace(/[{}\\[\\]\"]/g, '')\n    .replace(/^\\s*\\n*\\n*\\n*A\\s*/i, \"\")\n    .trim();\n}).filter(p => p.length > 0);\n\nreturn prompts.map(prompt => ({\n  json: { prompt }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        160
      ],
      "id": "87906bc4-5367-4782-8768-150b07fd4a63",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=Visual Analysis & Image Generation Framework\n\n1. Visual Composition\n* Focal Point: Identify the primary subject or the element that first captures the viewer's attention.\n* Layout & Balance: Describe the arrangement (e.g., Rule of Thirds, Golden Ratio, Symmetry) and how visual weight is distributed (Symmetrical, Asymmetrical, or Radial balance).\n* Depth & Perspective: Explain the layers (Foreground, Midground, Background) and the type of perspective used (e.g., Bird’s-eye view, Worm’s-eye view, Vanishing point).\n* Visual Flow: Trace the path the eye follows, guided by lines, shapes, or light.\n\n2. Color Palette\n* Dominant & Accent Colors: Identify the primary color scheme and specific accent colors used for contrast.\n* Color Theory & Mood: Explain how the combination (e.g., Complementary, Analogous, Monochromatic) evokes specific emotions or atmospheres.\n\n3. Art Style & Technique\n* Genre/Style: Categorize the aesthetic (e.g., Cyberpunk, Dark Fantasy, Minimalism, Ukiyo-e, Surrealism, etc.).\n* Technical Execution: Detail the visual techniques used, such as line work (outlines), shading (soft vs. hard), textures (gritty, smooth, metallic), or gradients.\n* Visual Impression: Define the overall look (e.g., Hyper-realistic, Stylized, Abstract, Flat design, Painterly).\n\n4. Typography & Layout\n* Typeface Selection: Identify the font category (Serif, Sans-serif, Script, Display).\n* Styling: Note the weight, spacing (kerning/leading), and special effects (glow, glitch, 3D).\n* Integration: Analyze how the text interacts with the visual elements and its hierarchy within the design.\n\n5. Theme & Narrative\n* Storytelling: Describe the underlying message, story, or \"vibe\" being conveyed.\n* Symbolism: Identify any cultural, mythological, or symbolic elements present in the imagery.\n\n6. Supporting Elements & Atmosphere\n* Environmental FX: Observe lighting (Rim lighting, Chiaroscuro), shadows, particle effects, fog, or embers.\n* Spatial Design: Note the use of negative space, framing devices, and intricate ornaments.\n\n7. AI Generation Prompt Synthesis\nBased on the analysis above, construct a concise and high-quality English prompt including:\n* Core Subject: Clear description of the main character or object.\n* Artistic Style: Specific art style and medium keywords.\n* Atmosphere & Lighting: Key lighting and color mood descriptors.\n* Composition & Camera: Shot type, angle, and framing instructions.\n* Unique Details: Specific textures, effects, or symbolic elements to ensure high fidelity.\n",
        "imageUrls": "={{ $json.url_reference }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1008,
        160
      ],
      "id": "b557ebe4-a50e-4757-b98e-dd22e7f0f473",
      "name": "Analyze an image1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googlePalmApi": {
          "id": "PdKkV5EZHYcVtVUH",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "imagePanels[0].generatedImages[0].encodedImage",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        704,
        672
      ],
      "id": "21e09f26-2bf5-4e12-8e86-5aa3f0ab4c7a",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "content": "# Analyze Image",
        "height": 464,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        48
      ],
      "typeVersion": 1,
      "id": "6aba309b-10e6-4217-93be-aa4854ce61c1",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Generate Prompt",
        "height": 464,
        "width": 1280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        48
      ],
      "typeVersion": 1,
      "id": "2f6c346a-b650-4bb9-87b7-879976327cd9",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1SwRA5Q6HHMExlonwVsDuilaktb4GnlTOiBMb0Mq8gRQ",
          "mode": "list",
          "cachedResultName": "Mircrostock Starter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SwRA5Q6HHMExlonwVsDuilaktb4GnlTOiBMb0Mq8gRQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 224508629,
          "mode": "list",
          "cachedResultName": "generated-prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SwRA5Q6HHMExlonwVsDuilaktb4GnlTOiBMb0Mq8gRQ/edit#gid=224508629"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $('Code in JavaScript1').item.json.prompt }}",
            "status": "PROCESS"
          },
          "matchingColumns": [
            "prompt"
          ],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2160,
        160
      ],
      "id": "28d3bb8a-de55-494a-b7d9-e5c5865069cb",
      "name": "Append or update row in sheet1",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h88H41rnVTqQz4v5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2576,
        160
      ],
      "id": "b84fd96c-6869-4db1-9d38-60889330de7f",
      "name": "Loop Over Items1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SwRA5Q6HHMExlonwVsDuilaktb4GnlTOiBMb0Mq8gRQ",
          "mode": "list",
          "cachedResultName": "Mircrostock Starter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SwRA5Q6HHMExlonwVsDuilaktb4GnlTOiBMb0Mq8gRQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 224508629,
          "mode": "list",
          "cachedResultName": "generated-prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SwRA5Q6HHMExlonwVsDuilaktb4GnlTOiBMb0Mq8gRQ/edit#gid=224508629"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2352,
        160
      ],
      "id": "7c44e1af-5fda-4619-a36a-64cdc24b254f",
      "name": "Get row(s) in sheet3",
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h88H41rnVTqQz4v5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1SwRA5Q6HHMExlonwVsDuilaktb4GnlTOiBMb0Mq8gRQ",
          "mode": "list",
          "cachedResultName": "Mircrostock Generated Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SwRA5Q6HHMExlonwVsDuilaktb4GnlTOiBMb0Mq8gRQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 224508629,
          "mode": "list",
          "cachedResultName": "generated-prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SwRA5Q6HHMExlonwVsDuilaktb4GnlTOiBMb0Mq8gRQ/edit#gid=224508629"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $('Loop Over Items1').item.json.prompt }}",
            "status": "SUCCES"
          },
          "matchingColumns": [
            "prompt"
          ],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2752,
        1232
      ],
      "id": "aeaee60f-a7bd-4b71-95d8-9159c3dca133",
      "name": "Update row in sheet1",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h88H41rnVTqQz4v5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1SwRA5Q6HHMExlonwVsDuilaktb4GnlTOiBMb0Mq8gRQ",
          "mode": "list",
          "cachedResultName": "Mircrostock Starter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SwRA5Q6HHMExlonwVsDuilaktb4GnlTOiBMb0Mq8gRQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 224508629,
          "mode": "list",
          "cachedResultName": "generated-prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SwRA5Q6HHMExlonwVsDuilaktb4GnlTOiBMb0Mq8gRQ/edit#gid=224508629"
        },
        "clear": "specificRange",
        "range": "A2:B21"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        160
      ],
      "id": "73bd7085-6b20-4b59-a3a1-472a6a26e8b8",
      "name": "Clear sheet1",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h88H41rnVTqQz4v5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw = $input.first().json.output;\nconst jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n\nif (!jsonMatch) {\n  throw new Error(\"No valid JSON object found in the output.\");\n}\n\nconst cleanRaw = jsonMatch[0];\nconst data = JSON.parse(cleanRaw);\n\nreturn [\n  {\n    json: {\n      filename: data[\"Adobe Stock\"].Filename,\n      title: data[\"Adobe Stock\"].Title,\n      keywords: data[\"Adobe Stock\"].Keywords,\n      category_adobe: data[\"Adobe Stock\"].Category,\n      releases: data[\"Adobe Stock\"].Releases,\n\n      description_shutterstock: data[\"Shutterstock\"].Description,\n      category_shutterstock: data[\"Shutterstock\"].Categories,\n      editorial: data[\"Shutterstock\"].Editorial,\n      mature_content: data[\"Shutterstock\"].Mature_Content,\n      illustration: data[\"Shutterstock\"].Illustration\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3152,
        176
      ],
      "id": "d69e528d-6e05-4c65-8b8c-7ca8da500738",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "content": "# Generate Metadata",
        "height": 464,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        48
      ],
      "typeVersion": 1,
      "id": "53b7c9d4-94cb-49cc-bf6a-307ac9ebf97d",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Generate Image",
        "height": 320,
        "width": 368,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        560
      ],
      "typeVersion": 1,
      "id": "5748f662-76cc-4d79-bdec-3bab8d528d2f",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Image Upscaler",
        "height": 320,
        "width": 992,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        560
      ],
      "typeVersion": 1,
      "id": "8a86461a-bd3e-458c-91af-c5c8f96cd0df",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://get1.imglarger.com/api/UpscalerNew/UploadNew",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br, zstd"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9,id;q=0.8"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "Origin",
              "value": "https://imgupscaler.com"
            },
            {
              "name": "Referer",
              "value": "https://imgupscaler.com/"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "myfile",
              "inputDataFieldName": "data"
            },
            {
              "name": "scaleRadio",
              "value": "4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        672
      ],
      "id": "0f4a4eda-11a1-4b02-86c3-c0891acb27c9",
      "name": "Request Upscaler",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://get1.imglarger.com/api/UpscalerNew/CheckStatusNew",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"code\":\"{{ $('Request Upscaler').item.json.data.code }}\",\"scaleRadio\":4}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        672
      ],
      "id": "44d2e307-ad11-41a6-ba7e-dd193adde0ed",
      "name": "HTTP CheckStatus",
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 0.3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1216,
        672
      ],
      "id": "5a4536dd-ab9d-45c1-bdcc-c65cf0564a27",
      "name": "Wait5",
      "webhookId": "a9a02b5c-72b7-4d0b-8236-b21b2ac86aa6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "89301120-80a4-41cf-ba13-beee3c20e3df",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1648,
        672
      ],
      "id": "0c39ed13-0d3d-42ea-b8fc-27568f3e3101",
      "name": "If6"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $now.setZone(\"Asia/Jakarta\").toFormat(\"dd/MM/yyyy\") }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "15OVqiWBaNlAp3ftYrFZS1Fp5_o2W4uTJ",
            "mode": "list",
            "cachedResultName": "image_output",
            "cachedResultUrl": "https://drive.google.com/drive/folders/15OVqiWBaNlAp3ftYrFZS1Fp5_o2W4uTJ"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        1024
      ],
      "id": "7a8fc191-4c22-4950-9c7c-b9a8196f052e",
      "name": "Search files and folders2",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "peCdfEP2DxMaZBwr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "01960d5f-7e24-45ad-8e31-bf41717037e0",
              "leftValue": "={{ $('Search files and folders2').item.json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "fd61436a-3100-40c3-ab40-ec369668b929",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        1024
      ],
      "id": "ca6462e1-b0ae-4ca6-9d59-879946efce93",
      "name": "If2"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Create Folder Name1').item.json.foldername }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "15OVqiWBaNlAp3ftYrFZS1Fp5_o2W4uTJ",
          "mode": "list",
          "cachedResultName": "image_output",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15OVqiWBaNlAp3ftYrFZS1Fp5_o2W4uTJ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        1040
      ],
      "id": "2f1b1cd1-ea5d-43bc-81e8-fef081d1ec57",
      "name": "Create folder1",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "peCdfEP2DxMaZBwr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $('Code in JavaScript4').item.json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1424,
        1024
      ],
      "id": "47592750-b7f7-4b69-9aa8-f76500734610",
      "name": "Upload file",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "peCdfEP2DxMaZBwr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Folder Manager",
        "height": 560,
        "width": 2624,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        928
      ],
      "typeVersion": 1,
      "id": "2cb9cc4e-5f0e-4e1c-9b25-e51023c8c11f",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "url": "={{ $('If6').item.json.data.downloadUrls[0] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br, zstd"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9,id;q=0.8"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "Host",
              "value": "get1.imglarger.com"
            },
            {
              "name": "Origin",
              "value": "https://imgupscaler.com"
            },
            {
              "name": "Referer",
              "value": "https://imgupscaler.com/"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "=data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        1024
      ],
      "id": "08d55034-49e5-4c70-b2c4-ea21152a32c2",
      "name": "HTTP Request10"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        1024
      ],
      "id": "0fd18bc6-fc30-43cf-83b1-c82874a43a47",
      "name": "Merge2"
    },
    {
      "parameters": {
        "amount": 0.5,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2736,
        640
      ],
      "id": "8ba39359-5493-4a62-b4ab-ed6b25048cbd",
      "name": "Wait2",
      "webhookId": "1d86b197-2b06-45e6-9766-b371425ac5f8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df30fd91-f441-49a2-8d72-e1d80762383d",
              "name": "foldername",
              "value": "={{ $now.setZone(\"Asia/Jakarta\").toFormat(\"dd/MM/yyyy\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        1024
      ],
      "id": "69603805-5f2e-4731-9b62-84e2dbd09204",
      "name": "Create Folder Name1"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=Metadata",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Upload file').item.json.parents[0] }}",
            "mode": "id"
          },
          "whatToSearch": "files",
          "fileTypes": [
            "application/vnd.google-apps.spreadsheet"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1568,
        1024
      ],
      "id": "eeefb9ca-5538-46be-8f8f-6072c147b734",
      "name": "Search files and folders3",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "peCdfEP2DxMaZBwr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "70307cbf-1f7d-40ce-852c-80aedb4517fb",
              "leftValue": "={{ $items(\"Search files and folders3\")[0].json.id }}",
              "rightValue": {},
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1728,
        1024
      ],
      "id": "576c9b0d-8379-49c0-b4fa-d0c8f5847022",
      "name": "If3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7259aba5-b288-45d9-8613-5599716fd55e",
              "name": "Filename",
              "value": "",
              "type": "string"
            },
            {
              "id": "745307b2-8ac6-45b0-93e6-c396fe10bae4",
              "name": "Title",
              "value": "",
              "type": "string"
            },
            {
              "id": "7cf6e015-3ffe-4751-a595-6cdc3c5f5f82",
              "name": "Keywords",
              "value": "",
              "type": "string"
            },
            {
              "id": "c9fe60dc-5a10-49ce-b349-2c585bc415d8",
              "name": "Category",
              "value": "",
              "type": "string"
            },
            {
              "id": "3ca5dbb3-3ca0-49e6-934a-fe9eb8d9a48e",
              "name": "Releases",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        1248
      ],
      "id": "924762c4-3139-429a-b3ca-e3963162b5d0",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Upload file').item.json.parents[0] }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        1248
      ],
      "id": "ecac7c90-4410-4509-86c1-33ffc2522883",
      "name": "Move file2",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "peCdfEP2DxMaZBwr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7259aba5-b288-45d9-8613-5599716fd55e",
              "name": "Filename",
              "value": "",
              "type": "string"
            },
            {
              "id": "745307b2-8ac6-45b0-93e6-c396fe10bae4",
              "name": "Description",
              "value": "",
              "type": "string"
            },
            {
              "id": "7cf6e015-3ffe-4751-a595-6cdc3c5f5f82",
              "name": "Keywords",
              "value": "",
              "type": "string"
            },
            {
              "id": "c9fe60dc-5a10-49ce-b349-2c585bc415d8",
              "name": "Categories",
              "value": "",
              "type": "string"
            },
            {
              "id": "3ca5dbb3-3ca0-49e6-934a-fe9eb8d9a48e",
              "name": "Editorial",
              "value": "",
              "type": "string"
            },
            {
              "id": "5b41a369-ce56-49e1-8195-3d5b877e9e4c",
              "name": "Mature content",
              "value": "",
              "type": "string"
            },
            {
              "id": "6301f162-e427-4579-8158-e8f0ca9875d8",
              "name": "llustration",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        1248
      ],
      "id": "ac34a348-e154-4167-a58a-2a3142e75885",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Upload file').item.json.parents[0] }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1264,
        1248
      ],
      "id": "77116427-8f8f-4b6b-8030-9234ace3ac50",
      "name": "Move file3",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "peCdfEP2DxMaZBwr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "Adobe Stock Metadata",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "Metadata"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        1248
      ],
      "id": "e23c4b24-8333-45fd-8e9b-2be2162cd6b9",
      "name": "Create adobe csv file1",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h88H41rnVTqQz4v5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "Shutter Stock Metadata",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "Metadata"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        1248
      ],
      "id": "729b4a51-317c-4c9c-9069-08e4aae76d6f",
      "name": "Create shutter csv file1",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h88H41rnVTqQz4v5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Move file3').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create shutter csv file1').item.json.sheets[0].properties.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Releases",
              "displayName": "Releases",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "handlingExtraData": "insertInNewColumn"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        1248
      ],
      "id": "3adfd35c-c70f-4df0-9338-228452e87c7f",
      "name": "Create column shutter1",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h88H41rnVTqQz4v5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Adobe Stock Metadata",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Upload file').item.json.parents[0] }}",
            "mode": "id"
          }
        },
        "options": {
          "fields": [
            "name",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1920,
        1008
      ],
      "id": "bd92685e-62d0-4d98-b5de-5f606844304f",
      "name": "Search Adobe Metadata1",
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "peCdfEP2DxMaZBwr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Shutter Stock Metadata",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Upload file').item.json.parents[0] }}",
            "mode": "id"
          }
        },
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2112,
        1008
      ],
      "id": "ecbd2722-1a9a-4e52-810e-73e37bb3f143",
      "name": "Search Shutter Metadata1",
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "peCdfEP2DxMaZBwr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.adobeID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Metadata",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Filename": "={{ $('Code in JavaScript4').item.json.filename }}",
            "Title": "={{ $('Code in JavaScript4').item.json.title }}",
            "Keywords": "={{ $('Code in JavaScript4').item.json.keywords }}",
            "Category": "={{ $('Code in JavaScript4').item.json.category_adobe }}",
            "Releases": "={{ $('Code in JavaScript4').item.json.releases }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Releases",
              "displayName": "Releases",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2352,
        1232
      ],
      "id": "6db64ec5-e37f-47ed-beed-b7bc805fa47e",
      "name": "Adobe Stock Metada1",
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h88H41rnVTqQz4v5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1952,
        1232
      ],
      "id": "8133c351-e11f-489e-9d60-f47010a80aee",
      "name": "Merge3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23a80274-e405-4bec-a6f5-132ac1bb6434",
              "name": "adobeID",
              "value": "={{ $('Create adobe csv file1').item.json.spreadsheetId }}",
              "type": "string"
            },
            {
              "id": "6ad012e5-b535-4392-9ae4-4f191252ae3a",
              "name": "shutterID",
              "value": "={{ $('Create shutter csv file1').item.json.spreadsheetId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        1248
      ],
      "id": "5efc7e94-2960-4da8-8650-947fedbe3ca2",
      "name": "Catch ID2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9caf5b3-63f8-4d76-b8a8-d840a46253d5",
              "name": "adobeID",
              "value": "={{ $('Search Adobe Metadata1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "468ba9ce-8f56-4eb4-bfec-6471563eb260",
              "name": "shutterID",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2416,
        1008
      ],
      "id": "5b1ae631-da9c-43e5-b2bb-2b9a8d13ff38",
      "name": "Catch ID3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3cd6fdf9-552b-45d6-af08-77f848ed3bc2",
              "name": "adobeID",
              "value": "={{ $json.adobeID }}",
              "type": "string"
            },
            {
              "id": "f9bc800d-5a0d-4299-abe6-aaa0233416d9",
              "name": "shutterID",
              "value": "={{ $json.shutterID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2144,
        1232
      ],
      "id": "2d9d0b43-e360-465c-b47e-bbce51f5fbec",
      "name": "Set ID1"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1248,
        160
      ],
      "id": "e413ae30-7620-4759-b476-acc9acd9cde5",
      "name": "Wait3",
      "webhookId": "90cd9e4d-8314-4f9f-8ca3-51fc34500755"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Loop Over Items1').item.json.prompt }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2880,
        352
      ],
      "id": "0614eaa4-e619-4e83-b997-b904597e5ead",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SwRA5Q6HHMExlonwVsDuilaktb4GnlTOiBMb0Mq8gRQ",
          "mode": "list",
          "cachedResultName": "Mircrostock Starter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SwRA5Q6HHMExlonwVsDuilaktb4GnlTOiBMb0Mq8gRQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 920386225,
          "mode": "list",
          "cachedResultName": "starter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SwRA5Q6HHMExlonwVsDuilaktb4GnlTOiBMb0Mq8gRQ/edit#gid=920386225"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        160
      ],
      "id": "6ac8bcc6-fa40-4001-bace-cd65739e9c43",
      "name": "Get row(s) in sheet2",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h88H41rnVTqQz4v5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Move file2').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create adobe csv file1').item.json.sheets[0].properties.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "handlingExtraData": "insertInNewColumn"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        1248
      ],
      "id": "5a8a07dd-ef64-44c0-9dc1-986f41e51588",
      "name": "Create Column adobe1",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h88H41rnVTqQz4v5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aisandbox-pa.googleapis.com/v1/whisk:generateImage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"clientContext\":\n\t\t{\n\t\t\t\"workflowId\":\"5de70ac2-3f45-48f0-b053-b003278d3141\",\n\t\t\t\"tool\":\"BACKBONE\",\n\t\t\t\"sessionId\":\";1760331608826\"\n\t\t},\n\t\"imageModelSettings\":\n\t\t{\n\t\t\t\"imageModel\":\"IMAGEN_3_5\",\n\t\t\t\"aspectRatio\":\"{{ $('Get row(s) in sheet2').item.json.image_ratio }}\"\n\t\t},\n\t\"seed\":286581,\n\t\"prompt\":\"{{ $('Loop Over Items1').item.json.prompt }}\",\n    \"mediaCategory\":\"MEDIA_CATEGORY_BOARD\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        672
      ],
      "id": "a8def34e-e6c2-4e30-a2db-a3b24f1d66c0",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "P4RoxxKWx98PHJmk",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn [items[items.length - 1]];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        160
      ],
      "id": "191fef52-f719-4c25-a142-52bf9aac5cde",
      "name": "slice"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1968,
        160
      ],
      "id": "adc4467f-291e-4306-9358-39f1f10fce08",
      "name": "Wait",
      "webhookId": "0b3cb5d3-4d6a-4ce6-a11d-bf6756ac49b7"
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2784,
        352
      ],
      "id": "59198754-2bb9-4ead-8c4f-ee2e9a714ca4",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "xO1GnqdglhYsXf3f",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1440,
        352
      ],
      "id": "423022a9-d116-4337-8008-153da4bd5f30",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PdKkV5EZHYcVtVUH",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Set ID1').item.json.shutterID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Metadata",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Filename": "={{ $('Code in JavaScript4').item.json.filename }}",
            "Description": "={{ $('Code in JavaScript4').item.json.title}}",
            "Keywords": "={{ $('Code in JavaScript4').item.json.keywords }}",
            "Categories": "={{ $('Code in JavaScript4').item.json.category_shutterstock }}",
            "Editorial": "={{ $('Code in JavaScript4').item.json.editorial }}",
            "llustration": "={{ $('Code in JavaScript4').item.json.illustration }}",
            "Mature content": "={{ $('Code in JavaScript4').item.json.mature_content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categories",
              "displayName": "Categories",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Editorial",
              "displayName": "Editorial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mature content",
              "displayName": "Mature content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "llustration",
              "displayName": "llustration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2560,
        1232
      ],
      "id": "6a6542a9-8642-43c4-bfbf-62ea64fef5a5",
      "name": "Shutter Stock Metadata",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h88H41rnVTqQz4v5",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Clear sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image1": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Request Upscaler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Upscaler": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP CheckStatus": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "HTTP CheckStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Create Folder Name1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Search files and folders3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder Name1": {
      "main": [
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Search Adobe Metadata1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create adobe csv file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Create Column adobe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Create column shutter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create adobe csv file1": {
      "main": [
        [
          {
            "node": "Move file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create shutter csv file1": {
      "main": [
        [
          {
            "node": "Move file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create column shutter1": {
      "main": [
        [
          {
            "node": "Catch ID2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Adobe Metadata1": {
      "main": [
        [
          {
            "node": "Search Shutter Metadata1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Shutter Metadata1": {
      "main": [
        [
          {
            "node": "Catch ID3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adobe Stock Metada1": {
      "main": [
        [
          {
            "node": "Shutter Stock Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Set ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Catch ID2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Catch ID3": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ID1": {
      "main": [
        [
          {
            "node": "Adobe Stock Metada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "slice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Column adobe1": {
      "main": [
        [
          {
            "node": "Create shutter csv file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "slice": {
      "main": [
        [
          {
            "node": "Analyze an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Shutter Stock Metadata": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a515f795-7f74-43b0-8040-c19d43ed646c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b04c0dcf980444568d2f38cef7390ffab0eb7fabad0a7206f3e7fe693f97faf5"
  },
  "id": "sJutW6tv6K16Ns6sM_0P1",
  "tags": []
}